

# Einführung in Pandas in Python


    

## Ziele

Nach Abschluss dieser Übung werden Sie in der Lage sein:

Verwendung von Pandas, um auf Daten zuzugreifen und diese anzuzeigen
​

<h2>Inhaltsverzeichnis</h2>
<div  style="margin-top: 20px;font-size:16px; background-color:#EFFEF1">
    <ol>
        <li>
            <a href="#Definition">Definition</a>
            <ul>
                <li><a href="#Series">Series</li>
                <li><a href="#Data-Frame">Data Frame</li>
                <li><a href="#">Zugriff auf Werte und Slicing</li>
            </ul>
        </li>
        <li>
            <a href="#Daten-anzeigen-und-auf-daten-zugreifen">Daten anzeigen und auf Daten zugreifen</a>
            <ul>
                <li><a href="#Zugriff-auf-spalten">Zugriff auf Spalten</li>
                <li><a href="#">Die Beschriftung eines Data Frame zeigen</li>
            </ul>
        </li>
                <li>
            <a href="#:">Zugriff auf Werte und Slicing</a>
            <ul>
                <li><a href="#">iLoc</li>
                <li><a href="#">Loc</li>
            </ul>
        </li>
                <li>
            <a href="#Definition:">Data Frame Manipulation</a>
            <ul>
                <li><a href="#">Mehrere Data Frame zusammenverbinden</li>
                <li><a href="#">Spalten Position austauschen</li>
                <li><a href="#">Funktionen auf Spalten anwenden</li>
            </ul>
        </li>
    </ol>
</div>

<h2>Definition:</h2> 
Pandas ist eine leistungsstarke Open-Source-Bibliothek für Datenanalyse und -manipulation in Python. Der Name "pandas" stammt  von "Panel Data", der   mehrdimensionale strukturierte Daten beschreibt.

Pandas bietet Datenstrukturen und Funktionen, die es erleichtern, mit strukturierten Daten umzugehen, insbesondere mit tabellarischen Daten. Die beiden wichtigsten Datenstrukturen in Pandas sind `Series` und `DataFrame`.

### Series

Die Pandas Series ist wie eine verbesserte Python-Liste es ist aloso ein `eindimentionales` Datenstruktur. Du kannst jedem Element einen individuellen "Namen" geben, den wir `Index` nennen. Das ermöglicht schnellen Zugriff und coole Datenoperationen wie Sortieren, Filtern und Zusammenfassen.

Um eine Serie zu erstellen müssten wir zuerst die Bibliothek `pandas` importieren durch den syntax `import pandas as pd` hier steht `pd` als Abkürzung du kannst alles schreiben was willst aber `pd` ist standardmässig benutzt dann erstellst du dein Series durch `pd.Series(deine_list, index=deine_indexes)` wobei `deien_list` ist deine Liste von Daten und `deine_indexes` ist eine Liste von indexes durch die du deine Daten aufrufst.

Nach dem Import-Befehl haben wir jetzt Zugriff auf eine große Anzahl von vordefinierten Klassen und Funktionen. Dies setzt voraus, dass die Bibliothek installiert ist.

<h4>Beispiel</h4>

1. <h5>Zugriff auf Daten</h5>

Angenommen, du bist Lehrer und möchtest die Noten einer Klasse verwalten, wobei jeder Schüler eine eindeutige Identifikation hat. Hier kommt die Pandas Series ins Spiel, um den Zugriff auf die Noten der Schüler effizient zu gestalten. Schau dir dieses Beispiel an:

In [1]:
import pandas as pd

# Daten: Noten der Schüler
records = [1.0, 2.0, 4.0, 3.4, 2.7]

# Index: Namen der Schüler
students = ['Anna', 'Max', 'Sebastian', 'David', 'Johana']

# Erstellung einer Pandas Series
records_series = pd.Series(records, index=students)

# Zugriff auf Noten durch den Namen der Schüler
print("Note von David:", records_series['David'])

Note von David: 3.4

Siehst du! du könntest auf die Note von `David` ganz schnell zugreifen das **spart viel Zeit** besonders wenn du eine lange Liste von Schüler hast.

2. <h5>Filter von Daten</h5>

Stell die vor nun ist dir aufgeffalen zu wissen die Liste von **Schüler die eine Note besser als 3.0 bekommen**. Mit Series kannst das ganz einfach  durch `seies_name[filter_condition]` ohne einen langweiligen code filtern. wie folgender code zeigt:

In [2]:
# Filtern der Noten basierend auf einer Bedingung (z.B., Noten über 85)
high_records = records_series[records_series <3.0]
print("Noten besser als 3 :", high_records)

Noten besser als 3 : Anna      1.0
Max       2.0
Johana    2.7
dtype: float64

3. <h5>Zuordnung von Daten</h5>

Wenn du die Schüler nach ihren Noten auflisten möchtest, beginnend mit den schlechtesten kannst du die `sort_values()` methode anwenden

In [3]:
# Sortieren der Noten
sorted_records = records_series.sort_values(ascending=False)
print("Sortierte Noten:", sorted_records)

Sortierte Noten: Sebastian    4.0
David        3.4
Johana       2.7
Max          2.0
Anna         1.0
dtype: float64

Wenn du die Noten in **umgekehrter Reihenfolge** auflisten möchtest, entferne einfach das Attribut` ascending=False` oder setze es als `True`, da dies der Standardwert ist.

### Data Frame

<h4>Hinführung</h4>

Stell dir vor, du hast eine Liste mit Namen wie "Anna" und "David", und du möchtest wissen, wer welche Schulnote hat. Das ist cool, aber was ist, wenn du auch wissen willst, wie alt sie sind oder du ihre Noten in Kategorien wie "sehr gut" oder "ausreichend" klassifizieren möchtest? Die Series in Pandas können das nicht alleine. Hier kommt das `DataFrame` ins Spiel!

<h4>Definition</h4>

Ein **DataFrame** in Pandas ist eine `zweidimensionale`, tabellarische Datenstruktur, die mehrere Spalten mit unterschiedlichen Datentypen enthält. Du kannst das DataFrame in Pandas wie eine schicke, tabellarische Datenbank für deine Informationen vorstellen

<h4>Erstellung eines Data Frames</h4>

Es gibt zwei Methoden um ein Data Frame zu erstellen:

1. Manuelle Erstellung 
2. aus einer externen Datei

<h4>1. Manuelle Erstellung:</h4>

Um ein Dataframe zu erstellen müsseten wir zuerst ein `python_dictionay` erstellen

In [4]:
data = {'Name': ['Anna', 'Max', 'Sebastian', 'David', 'Johana', 'Lisa','Thomas'],
        'Note': [1.0, 2.0, 4.0, 3.4, 2.7, 5, 1.6],
        'Alter': [15, 16, 14, 16, 15, 15, 17],
        'Geschlecht': ['weiblich', 'männlich', 'männlich', 'männlich', 'weiblich', 'weiblich', 'männlich' ]}

Beachte, dass der Anzahl der Values in von jedem Key ('Name','Note'...) gleich sind.
Um ein Data Frame zu erstellen rufen wir die Methode `Dataframe()` von der Bibliothek pandas auf, die das dictionary ins Data Frame umwandelt wie folgt

In [5]:
import pandas as pd

students_df = pd.DataFrame(data)
students_df

        Name  Note  Alter Geschlecht
0       Anna   1.0     15   weiblich
1        Max   2.0     16   männlich
2  Sebastian   4.0     14   männlich
3      David   3.4     16   männlich
4     Johana   2.7     15   weiblich
5       Lisa   5.0     15   weiblich
6     Thomas   1.6     17   männlich

<h4>2. Aus einer externen Datei</h4>

"Pandas macht es einfach, Daten aus einer mit Kommas getrennten Datei (.csv) in ein Dataframe zu laden. Die Variable `csv_path` enthält den Dateipfad zur .csv-Datei. Dieser Pfad wird dann als Argument an die Funktion `read_csv` übergeben. Das Ergebnis wird in der Variable `df` gespeichert. 'df' ist eine gängige Abkürzung für eine Variable, die auf ein Pandas-Dataframe zeigt."

In [6]:
csv_path = 'https://raw.githubusercontent.com/solainv/heart/main/heart.csv'

In [7]:
import pandas as pd 
df = pd.read_csv(csv_path)

Wir können die Methode <code>head() </code> verwenden, um einen Überblick über die ersten fünf Zeilen eines Dataframes zu erhalten.

<h4>3. Data Frame als externe Datei speichern</h4>

Wie können ein Dataframe als `csv` oder andere tabullarische Extension abspeichern anhand der Methode `.to_csv()`

In [8]:
df_10 = df.head(10)
# Mit doppelten Backslashes
df_10.to_csv('C:\\Users\\solai\\Downloads\\Files and Scripts\\heart.csv', index=False)

# Oder mit dem r-Präfix (roher String)
#df_10.to_csv(r'C:\Users\solai\Downloads\Files and Scripts\heart.csv', index=False)

## Daten anzeigen und auf Daten zugreifen

### Zugriff auf Spalten

In [9]:
# Die fünf ersten Zeilen des Dataframes drucken
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
5,6,56,1,nontypical,120,236,0,0,178,0,0.8,1,0.0,normal,No
6,7,62,0,asymptomatic,140,268,0,2,160,0,3.6,3,2.0,normal,Yes
7,8,57,0,asymptomatic,120,354,0,0,163,1,0.6,1,0.0,normal,No
8,9,63,1,asymptomatic,130,254,0,2,147,0,1.4,2,1.0,reversable,Yes
9,10,53,1,asymptomatic,140,203,1,2,155,1,3.1,3,0.0,reversable,Yes

Wir können eine Spalte  als DataFrame erhalten. Beispielsweise können wir die Spalte  <b>ChestPain</b> einer vneuen Variable `y` zuweisen:

In [10]:
# Zugrif auf die Spalte ChestPain
y = df[['ChestPain']]

 Der Prozess ist in der Abbildung dargestellt
<img src="zugriif_auf_Chesspain.png" width="1100">

Wir können eine Spalte auch als Serie erhalten. Wir können uns eine Pandas-Serie als 1-D-Dataframe vorstellen. Verwenden eine einfach eine eckige Klammer:

In [11]:
x= df['ChestPain']
x

0         typical
1    asymptomatic
2    asymptomatic
3      nonanginal
4      nontypical
5      nontypical
6    asymptomatic
7    asymptomatic
8    asymptomatic
9    asymptomatic
Name: ChestPain, dtype: object

In [12]:
type(x)

pandas.core.series.Series

In [13]:
# Holen wir uns mehrere  Spalten als dataframe
z = df[['RestBP', 'Oldpeak', 'Thal']]

Der Prozess wird wie folgt aussehen
<img src="z_variable__.png" width="1100">

In [14]:
z

   RestBP  Oldpeak        Thal
0     145      2.3       fixed
1     160      1.5      normal
2     120      2.6  reversable
3     130      3.5      normal
4     130      1.4      normal
5     120      0.8      normal
6     140      3.6      normal
7     120      0.6      normal
8     130      1.4  reversable
9     140      3.1  reversable

Du kannst dasselbe für andere Spalten tun ; wir geben einfach den Namen des Data frames, in diesem Fall <code>df</code>, und die Namen der mehreren Spaltenüberschriften in doppelten eckigen Klammern an. Das Ergebnis ist ein neuer Datenrahmen, der aus den angegebenen Spalten besteht.

<h3>Die Beschriftung eines Data Frame zeigen</h3>

<img src="index_column.png" width ="910" height="400" />

Die Beschriftung eines Data Frames besteht aus Spaltennamen und Zeilennamen
- Spaltennamen heißen `columns`
- Zeilennamen heißen `index`

Wir können beide anzeigen anhand der Methoden `.columns` jeweils `.index`

In [15]:
df.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs',
       'RestECG', 'MaxHR', 'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'AHD'],
      dtype='object')

In [16]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [17]:
# Wir konnen index zu einer Liste kinvertieren
df.index.to_list()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

<h3>Zugriff auf Werte und Slicing</h3>

<img src = "values.png" width ="1000"/>

Es gibt mehrere Möglichkeiten, um auf die Werte eines DataFrames zuzugreifen. Eine der einfachsten Methoden, auf eindeutige oder einen Teil der Elemente zuzugreifen, ist die Verwendung der `iloc[.,.]`- und `loc[.,.]`-Methoden. Diese ermöglichen es dir, auf bestimmte Teile des DataFrames zuzugreifen, was Zeit und Aufwand beim Schreiben von Codezeilen spart.

<h3>iloc[.,.]</h3>

Die `iloc[.,.]`-Methode greift auf die Elemente per Index zu (slicing using index), wobei die Indexierung bei 0 beginnt. Das erste Argument von `iloc[.,.]` die Zeilen und das zweite Argument die Spalten angibt.

<img src = "iloc.png" width = "1100"/>

In [18]:
#Den Wert der ersten Zeile und ersten Spalte anzeigen.
df.iloc[0, 0]

1

In [19]:
# Den Wert der ersten Zeile und zweiten Spalte anzeigen.
df.iloc[0, 1]

63

Um Zeit zu sparen bei der Indexrechnung, können wir beginnen  den Index von hinten nach vorne berechnen, indem wir die letzte Indexposition als -1 verwenden. Dann ist die vorletzte Indexposition -2, und so weiter.

In [20]:
# Den Wert der lenzten Zeile und letzten Spalte anzeigen.
df.iloc[-1, -1]

'Yes'

<img src ="iloc_last_element.png" />

In [21]:
#Die Werte der dritten und vierten Zeilen des Data Frame, begrenzt auf die Spalten ChestPain, RestBP, Chol und Fbs, anzeigen.
df.iloc[3:5, 3:7]

    ChestPain  RestBP  Chol  Fbs
3  nonanginal     130   250    0
4  nontypical     130   204    0

**Erklärung:** Der Ausdruck `3:5` in `df.iloc[3:5, 3:7]` bedeutet, dass die Zeilen von der dritten bis zur fünften ausgewählt werden, wobei der Endindex nicht eingeschlossen ist. Das bedeutet von Indexposition 3 bis Indexposition 4. Genauso wie bei `3:7` in den Spalten (Indexpositionen 3 bis 6 ausgewählt werden)

In [22]:
# Die zweite Spalte anzeigen. Das Ergebnis wird ein 1d (Series) angezeit  
df.iloc[1,:]

Unnamed: 0               2
Age                     67
Sex                      1
ChestPain     asymptomatic
RestBP                 160
Chol                   286
Fbs                      0
RestECG                  2
MaxHR                  108
ExAng                    1
Oldpeak                1.5
Slope                    2
Ca                     3.0
Thal                normal
AHD                    Yes
Name: 1, dtype: object

Der einfache Ausdruck `:` bedeutet "wähle alle aus" (abhängig von der Position des Arguments, ob Zeilen oder Spalten).

Wir können die zweite Spalte als `DataFrame (2D)` anzeigen, indem wir den Zeilenindex innerhalb von eckigen Klammern `[]` angeben:

In [23]:
df.iloc[[1], :]

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes

In [24]:
# Mit der 2d Methode können wir alle Zeile je nach Wunsch anzeigen z.b erste vierte und fünfte
df.iloc[[0, 3, 4], :]

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [25]:
# Genauso wie bei spalten z.B Age, Sex, Slope AHD
df.iloc[:, [1, 2, 11, 14]]

   Age  Sex  Slope  AHD
0   63    1      3   No
1   67    1      2  Yes
2   67    1      2  Yes
3   37    1      3   No
4   41    0      1   No
5   56    1      1   No
6   62    0      3  Yes
7   57    0      1   No
8   63    1      2  Yes
9   53    1      3  Yes

Um Zeit zu sparen bei der Indexrechnung, können wir beginnen  den Index von hinten nach vorne berechnen, indem wir die letzte Indexposition als -1 verwenden. Dann ist die vorletzte Indexposition -2, und so weiter.

In [26]:
# Der letze Spalte können wir so df.iloc[:, [14]] anzeigen oder ganz einfach Ohne Indexrechnung:
df.iloc[:, [-1]]

   AHD
0   No
1  Yes
2  Yes
3   No
4   No
5   No
6  Yes
7   No
8  Yes
9  Yes

In [27]:
#Dann Age, Sex, Slope AHD Spalten lassen sich ganz easy anzeigen
df.iloc[:, [1, 2, -4, -1]]

   Age  Sex  Slope  AHD
0   63    1      3   No
1   67    1      2  Yes
2   67    1      2  Yes
3   37    1      3   No
4   41    0      1   No
5   56    1      1   No
6   62    0      3  Yes
7   57    0      1   No
8   63    1      2  Yes
9   53    1      3  Yes

Wir können die Anzahl der übersprungenen Zeilen steuern, indem wir den Ausdruck `i:j` generalisieren und einen Schritt `s` am Ende einfügen, also `i:j:s`. Dabei ist es wichtig zu beachten, dass der letzte Index `j` nicht eingeschlossen ist. Zum Beispiel, wenn wir die geraden Zeilen 0, 2, 4 anzeigen möchten `(s=2)`, müssen wir nicht bei 4 aufhören, sondern bei 5.

In [28]:
df.iloc[0:5:2, :]

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [29]:
# Genauso wie bei Spalten können wir z.B. zwei Splaten überspringen  bis ExAng inclusive ExAng
# df.iloc[:, 0:10:3]
# oder ganz easy
df.iloc[:, 0:-5:3]

   Unnamed: 0     ChestPain  Fbs  ExAng
0           1       typical    1      0
1           2  asymptomatic    0      1
2           3  asymptomatic    0      1
3           4    nonanginal    0      0
4           5    nontypical    0      0
5           6    nontypical    0      0
6           7  asymptomatic    0      0
7           8  asymptomatic    0      1
8           9  asymptomatic    0      0
9          10  asymptomatic    1      1

<h3>loc[.,.]- Methode</h3>

Die `loc[.,.]` Slicing-Methode unterscheidet sich nicht viel von der `iloc`-Methode. Sie bieten fast dasselbe Slicing, nur der Unterschied liegt darin, dass iloc auf Elemente durch Spalten- und Indexpositionen zugreift, während loc auf Elemente durch Spalten- und Indexnamen zugreift, falls dieser ein String ist. Das erste Argument von `loc[.,.]` die Zeilen und das zweite Argument die Spalten angibt.

In [30]:
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
5,6,56,1,nontypical,120,236,0,0,178,0,0.8,1,0.0,normal,No
6,7,62,0,asymptomatic,140,268,0,2,160,0,3.6,3,2.0,normal,Yes
7,8,57,0,asymptomatic,120,354,0,0,163,1,0.6,1,0.0,normal,No
8,9,63,1,asymptomatic,130,254,0,2,147,0,1.4,2,1.0,reversable,Yes
9,10,53,1,asymptomatic,140,203,1,2,155,1,3.1,3,0.0,reversable,Yes

In [31]:
# Zugriff auf den Wert von zweiten Zeilen und neunten Spalten  mit dem Namen 
df.loc[1, 'MaxHR']

108

Wenn wir z.B. die Spalte `ChestPain` als Index der Data Frame einsetzen können wir es durch folgendes tun

In [32]:
df_indexed = df.set_index('ChestPain')
df_indexed.head()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
ChestPain,,,,,,,,,,,,,,
typical,1,63,1,145,233,1,2,150,0,2.3,3,0.0,fixed,No
asymptomatic,2,67,1,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
asymptomatic,3,67,1,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
nonanginal,4,37,1,130,250,0,0,187,0,3.5,3,0.0,normal,No
nontypical,5,41,0,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [33]:
# Zugriff auf den Wert von ersten Zeile und zweiten Spalte  mit dem Namen 
df_indexed.loc['typical', 'Age']

63

Es scheint, dass es schwierig ist, auf Zeilen zuzugreifen, wenn wir einen Index mit doppelten Werten haben. Deshalb ist es vernünftig, eine solche Spalte als Index zu vermeiden.

Lassen Sie uns zum ursprünglichen DataFrame df zurückkehren

In [34]:
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
5,6,56,1,nontypical,120,236,0,0,178,0,0.8,1,0.0,normal,No
6,7,62,0,asymptomatic,140,268,0,2,160,0,3.6,3,2.0,normal,Yes
7,8,57,0,asymptomatic,120,354,0,0,163,1,0.6,1,0.0,normal,No
8,9,63,1,asymptomatic,130,254,0,2,147,0,1.4,2,1.0,reversable,Yes
9,10,53,1,asymptomatic,140,203,1,2,155,1,3.1,3,0.0,reversable,Yes

Der Slicings-Ausdrück `i:j` bei `loc` könnte auch mit Spaltennamen geschrieben werden, wobei der `j` **eingeschloßen** ist.

In [35]:
#Alle Zeilen des DataFrames, begrenzt auf die Spalten von "MaxHR" bis "AHD", anzeigen.
df.loc[:,'MaxHR':'AHD']

   MaxHR  ExAng  Oldpeak  Slope   Ca        Thal  AHD
0    150      0      2.3      3  0.0       fixed   No
1    108      1      1.5      2  3.0      normal  Yes
2    129      1      2.6      2  2.0  reversable  Yes
3    187      0      3.5      3  0.0      normal   No
4    172      0      1.4      1  0.0      normal   No
5    178      0      0.8      1  0.0      normal   No
6    160      0      3.6      3  2.0      normal  Yes
7    163      1      0.6      1  0.0      normal   No
8    147      0      1.4      2  1.0  reversable  Yes
9    155      1      3.1      3  0.0  reversable  Yes

Genauso wie bei Zeilen wenn wir Werte der dritten und vierten Zeilen des Data Frame, begrenzt auf die Spalten **ChestPain**, **RestBP**, **Chol** und **Fbs** mit `iloc` anzeigen.
Haben wir folgenden Code geschieben `df.iloc[3:5, 3:7]` Bei `loc` ist der Prinzip unterschiedlich der ausdruck `3:5` schließt auch die `5` ein. Das heißt wenn uns nur die dritte und vierte Spalte interessiert dann solllten wir bei `4`aufhören.

In [36]:
#Die Werte der dritten und vierten Zeilen des Data Frame, begrenzt auf die Spalten ChestPain, RestBP, Chol und Fbs anzeigen
df.loc[3:4, [ 'ChestPain','Chol','Fbs']]

    ChestPain  Chol  Fbs
3  nonanginal   250    0
4  nontypical   204    0

<hr>

Wir können sowohl Spaltenname als auch Spaltenwerten ändern

<h2>Join</h2>

In [37]:
import pandas as pd

# Beispiel-DatenFrames
data1 = {'ID': [1, 2, 4],
         'Name': ['Alice', 'Charlie', 'David']}
df1 = pd.DataFrame(data1)

data2 = {'ID': [1, 2, 5, 6],
         'Age': [25, 30, 35, 40]}
df2 = pd.DataFrame(data2)

In [38]:
df1

   ID     Name
0   1    Alice
1   2  Charlie
2   4    David

In [39]:
df2

   ID  Age
0   1   25
1   2   30
2   5   35
3   6   40

In [40]:
# Merge basierend auf der Spalte 'ID'
merged_df = pd.merge(df1, df2, on='ID')
merged_df

   ID     Name  Age
0   1    Alice   25
1   2  Charlie   30

Hier oben können kannst du bemerken dass nur die gemeinsame Zeile von df1  und df2 gezeiget werden.
Wenn uns jedoch interessiert nach join methode  den gleichen Zeilenanzahl einer der Data Framen behalten dann können wir es durch `how` Attribut machen
. Die fehlende Werte werden durch `NaN` ausgefüllt.

wenn uns  alle Zeilen von `df1` interessiert dann müssen wir `left` als Wert von `how` angeben

In [41]:
merged_df = pd.merge(df1, df2, on='ID', how='left')
merged_df

   ID     Name   Age
0   1    Alice  25.0
1   2  Charlie  30.0
2   4    David   NaN

Ebenfalls wenn uns  alle Zeilen von `df2` interessiert dann müssen wir `right` als Wert von `how` angeben

In [42]:
# Merge basierend auf der Spalte 'ID'
merged_df = pd.merge(df1, df2, on='ID', how='right')
merged_df

   ID     Name  Age
0   1    Alice   25
1   2  Charlie   30
2   5      NaN   35
3   6      NaN   40

Angenommen, wir haben zwei DataFrames df1 und df2 mit unterschiedlichen Spaltennamen:

In [43]:
import pandas as pd

# Beispiel-DatenFrames
data_1 = {'ID': [1, 2, 3, 4],
         'Name_df1': ['Alice', 'Bob', 'Charlie', 'David']}
df_1 = pd.DataFrame(data_1)

data_2 = {'ID_df2': [1, 2, 5, 6],
         'Age': [25, 30, 35, 40]}
df_2 = pd.DataFrame(data_2)

In [44]:
df_1

   ID Name_df1
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David

In [45]:
df_2

   ID_df2  Age
0       1   25
1       2   30
2       5   35
3       6   40

In [46]:
# Merge mit expliziten Spaltennamen
merged_ = pd.merge(df_1, df_2, left_on='ID', right_on='ID_df2')

merged_

   ID Name_df1  ID_df2  Age
0   1    Alice       1   25
1   2      Bob       2   30

Und wenn wir zwei Dafaframen und möchte sie durch Data Frame index  zusammenbinden dann brauchen wir nicht den Attribut ´on´ sondern `left_index` und `right_index` und müssen True Werte haben wie folgendes:
```python
df_merged = pd.merge(df1, df2, left_index=True, right_index=True)
```

<h2>Spalten Position austauschen</h2>

In [47]:
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

Angenommen wir möchten die Spalte`RestBP` an der erste Position plazieren dann können wir es anhand von `pop` und `insert` Methoden tun

In [48]:
# ChestPain-Spalte auswählen
chest_pain = df.pop('ChestPain')

# füge 'ChestPain'-Spalte an die erste Position ein
df.insert(0, 'ChestPain', chest_pain)
df.head()

,ChestPain,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,typical,1,63,1,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,asymptomatic,2,67,1,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,asymptomatic,3,67,1,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,nonanginal,4,37,1,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,nontypical,5,41,0,130,204,0,2,172,0,1.4,1,0.0,normal,No

<h2>Funktionen auf Spalten anwenden</h2>

Wir können ganz ruhig arithmitische operation auf die ausführen

In [49]:
# addieren den Wert 2 zu jedem Wert der Spalte Chols
chol_plus_three = df['Chol']+3
chol_plus_three

0    236
1    289
2    232
3    253
4    207
5    239
6    271
7    357
8    257
9    206
Name: Chol, dtype: int64

In [50]:
#jeden Wert der Spalte Chols mal 4 multiplitieren
chol_times_two = df['Chol']*2
chol_times_two

0    466
1    572
2    458
3    500
4    408
5    472
6    536
7    708
8    508
9    406
Name: Chol, dtype: int64

Wir können auch mathematische Funktion auf die Spalte anwenden das geht durch die Methode `apply` und das Attribut `labmda x: unser_function(x))`. Dafür mässen wir die Funktion zuerst aus der Bibliothek `math` importieren

In [51]:
# Den Quardratwurzel von Age die Quadrawurzel Funktion heißt sqrt() und             (squared root in englisch)
import math
age_squared = df['Age'].apply(lambda x: math.sqrt(x))
age_squared

0    7.937254
1    8.185353
2    8.185353
3    6.082763
4    6.403124
5    7.483315
6    7.874008
7    7.549834
8    7.937254
9    7.280110
Name: Age, dtype: float64

In [52]:
# wir können das als df-Spalte hinzufügen
df['Age_root_squared'] = age_squared
df.head()

,ChestPain,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,Age_root_squared
0,typical,1,63,1,145,233,1,2,150,0,2.3,3,0.0,fixed,No,7.937254
1,asymptomatic,2,67,1,160,286,0,2,108,1,1.5,2,3.0,normal,Yes,8.185353
2,asymptomatic,3,67,1,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes,8.185353
3,nonanginal,4,37,1,130,250,0,0,187,0,3.5,3,0.0,normal,No,6.082763
4,nontypical,5,41,0,130,204,0,2,172,0,1.4,1,0.0,normal,No,6.403124

## Author:  

 Solaiman Karroumi